 <!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
       body {
  background-color: MediumSeaGreen;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: gray;
}

h1 {
  font-family: Georgia, serif;
  font-size: 60px;
  color: white;
}
    </style>
</head>
<center>
<body>
    <h1>Welcome to the Flask App</h1>
    <a href="/register" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Register</a> | <a href="/login" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a>
</body>
</center>
</html>
